.section__rooms {
  @include section-styles($rooms-color)
  & .hidden {
    display: none;
  }
}

.section__rooms--general {
  @include widget-styles($rooms-color)

    & h3 {
      @include widget-heading($rooms-color)
    }

    & p {
      margin: 20px auto;
      text-align: center;
    }
}

.section__rooms--new-booking {
  @include widget-styles($rooms-color)
  position: absolute;
  z-index: 100;
  width: 83%;
  height: 75%;
  overflow: scroll;
  background: #ffffff;
  margin: auto;

  & h3 {
    @include widget-heading($rooms-color)
  }

  & ul {

  }

  .section__rooms--new-booking--available-rooms {
    display: flex;
    flex-flow: row wrap;
    

    & div {
      @include widget-styles($rooms-color)
      height: 250px;
      min-height: 250px;
      width: 200px;
      margin: 10px;
      border: 2px solid $rooms-color;

      & p {
        font-size: 14px;
        padding: 5px 10px 0px 10px;
      }

      & h5 {
        @include widget-heading($rooms-color)
      }

      & button {
        margin-left: 80px;
      }
    }
  }
}

.section__rooms--customer-bookings-history,
.section__rooms--customer-booking-today {
  @include widget-styles($rooms-color)

  & h3 {
    @include widget-heading($rooms-color)
  }

  & span {
    display: block;
    padding: 10px;
  }

  & div {
   margin: 0 70px;;
  }

  & ul {
    list-style: none;
  }
}

.section__rooms--new-room-service-order {
  @include widget-styles($rooms-color)
  
  & h3 {
    @include widget-heading($rooms-color)
  }

  & ul {
    padding: 10px;
  }

  & li {
  list-style: none;
  margin: 3px;
  font-size: 12px;
  }

  & button {
    margin: 50px 0 50px 50px;
  }

  & li:hover {
    background: $rooms-color;
    cursor: pointer;
  }

  & div {
    overflow: scroll;
  }
}

.clicked {
  background: $rooms-color;
}
